
*{
   font-size: 10px;
   margin: 0%;
   padding: 0%;
}
img{
    margin-left:20px;
    padding-top: 30px;
    padding-bottom: 11px;
    height: 90px
}
section{
    display:flex;

    margin-left:  20px;
    padding-left:0%;
    width: 100%;
    height: 900px;
    background-color: rgb(109, 20, 20);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
}
.leftsection{
    width: 50%;
    margin-top: 95px;
    margin-left: 200px;
    margin-right: 300px;
  
    
   
   
}
.body1 p{
   font-size: 12px ;
   font-family:Arial, Helvetica, sans-serif;
}
.body1 button{
height: 12px;
width: 12px;
padding: 0%;
margin-top: 0%;
margin-left: 320px;
border-width:1px ;
}

.btnl button{
    margin-left: 300px;
    margin-top: 0%;
    padding: 0%;
    height: 12px;
    width:12px ;
    border-width: 1px;
}
::placeholder{
    color: white;
}
.name{
    
    height: 20px;
    width: 285px;
    background-color: rgb(109, 20, 20);
    border-style:solid ;
    border-color: white;
    border-width: 1px;
    
}
textarea{
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
}
.email{
     height: 20px;
    width: 285px;
    background-color: rgb(109, 20, 20);
    border-style:solid ;
    border-color: white;
    border-width: 1px;
    margin-top: 10px;
}
.organisation{
     height: 20px;
    width: 285px;
    background-color: rgb(109, 20, 20);
    border-style:solid ;
    border-color: white;
    border-width: 1px;
    margin-top: 10px;
}

.checkbox{
    margin-left: 300px;
}
.checkbox2{
    margin-left: 300px;
}
.rightsection{
    margin-left: 3px;
    margin-top: 55px;
    width: 90%;

}
.text{
    display: flex;
    margin-top: 10px ;
    margin-bottom: 28px;
    height: 0px;
    width: 200px;
    font-size:20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.text p{
    margin-top:300px;
}


.submission{
    
  margin-bottom: 0%;
    color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 60px;
}

.footer1 p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.name1{
    height: 50px;
    width: 100px;
    border-style: solid;
    border-width: 3px;
    color: rgb(207, 200, 200);
    
}
.textarea{
    margin-top: 20px;
}

.box2{
    margin-top: 20px;
}
.box3{
     margin-top: 20px;
}
.box4{
     margin-top: 20px;
}
.box5{
     margin-top: 20px;
     
}
.button button{
  
    margin-top: 50px;
margin-left: 1px;
height: 40px;
width: 300px;
font-size: 20px;

}
.btn{
margin-left: 70px;

height: 12px;
width:12px;

}


.sameline{
    display: flex;
    width: 200px;
    margin-top: 10px;
}
.chkbox{
    width: 150px;
    cursor: pointer;
   
  
   
    
}
 label{
    vertical-align:2px;
}
 .newchkbox{
background-color: transparent;

 }
 
  .newchkbox {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: rgb(109, 20, 20);
  border: 1px solid #fff;
  border-radius: 1px;
 
  margin-top: 10px;
}




    
    
   
 